@CHARSET "UTF-8";

/*style reset*/
*
{
 	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	list-style: none;
}

body
{
	background-color: #E9E9E9;
	margin:0;
	padding:0;
	height: 100%;
}
#mainDiv
{
 	min-width: 1130px;
}

#headerDiv
{
    background-color: #424242;
    height: 60px;
    position: relative; /*float: bot­tom; (1)*/
}

#headerDiv h1
{
	display: inline;
	font-family: monospace;
	font-weight: bold;
	text-align: left;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	color: #FF9900;
}

#login
{
	position: absolute; /*float: bot­tom; (2)*/
	bottom: 10px;        /*float: bot­tom; (3)*/
	right: 20px;         /*float: bot­tom; (4)*/
}

#navigationsDiv
{
	position:absolute;
	top: 10;
	left: 0;
	float: left;
	width: 8%;
	min-width: 150px;
	background-color: #BCBCBC;
	display:block;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 20px;
	text-decoration: none;
	
	-moz-border-radius:10px; /* Firefox */
	-webkit-border-radius:10px; /* Safari, Chrome */
	-khtml-border-radius:10px; /* Konqueror */
	border-radius:10px; /* CSS3 */
}

#navigationsDiv ul li
{
	margin-bottom: 20px;
	margin-top: 20px;
}

#contentDiv
{
	background-color: white;
	width: 68%;
	padding: 10px;
	margin-left: 16%;
}

.button 
{
   border-top: 1px solid #96d1f8;
   background: #81a8b8;
   background: -webkit-gradient(linear, left top, left bottom, from(#a4bcc2), to(#81a8b8));
   background: -webkit-linear-gradient(top, #a4bcc2, #81a8b8);
   background: -moz-linear-gradient(top, #a4bcc2, #81a8b8);
   background: -ms-linear-gradient(top, #a4bcc2, #81a8b8);
   background: -o-linear-gradient(top, #a4bcc2, #81a8b8);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover 
{
   border-top-color: #a4bcc2;
   background: #a4bcc2;
   color: #0000e8;
}
.button:active 
{
   border-top-color: #a4bcc2;
   background: #a4bcc2;
}

